* { margin: 0; padding: 0; border: 0; }

body {
	background: url('../assets/grey.png') #f2f2f2;
	color: #666;
	font: 14px/18px 'Lato', Arial, sans-serif;
}

header {
	width: 100%;
	text-align: center;
	line-height: 32px;
}

h1 {
	font-size: 30px;
	font-weight: 400;
}

.description {
	font-weight: 300;
}

.wrapper {
	width: 770px;
	margin: 50px auto;
}

.app {
	width: 750px;
	padding: 10px;
	background: rgba(230, 230, 230, 0.45);
	text-align: center;
	color: #999;
	font-size: 24px;
	font-weight: 300;
	line-height: 390px;
	margin: 10px auto;
	position: relative;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

#map {
	width: 750px;
	height: 420px;
	background: transparent;
}

.infobox {
	background: #FFF;
	width: 320px;
	padding: 40px;
	line-height: 30px;
	text-align: center;
	position: absolute;
	top: 150px;
	left: 175px;
	z-index: 10000;
	visibility: hidden;
	opacity: 0;
	filter: alpha(opacity=0);
	box-shadow: 0 0 4px 0 #AAAAAA;

	-webkit-transition: opacity .2s ease-out;
	-moz-transition: opacity .2s ease-out;
	transition: opacity .2s ease-out;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.infobox.error {
	opacity: .9;
	filter: alpha(opacity=90);
	visibility: visible;
}

/* custom popup fonts */
.leaflet-popup-content {
	font: 12px 'Lato', Arial, sans-serif !important;
}
.leaflet-control-attribution.leaflet-control {
	display: none;
}
