* { margin: 0; padding: 0; border: 0; }

html, body {
    		height: 100%;
    		margin: 0;
    	}

body {
	background: url('../assets/background.png');
	color: #666;
	font: 14px/18px Arial, sans-serif;
}

#map {
	width: 80%;
	height: 600px;
	margin:auto;
	margin-top:20px;
}

.infobox {
	background: #FFF;
	width: 320px;
	padding: 40px;
	line-height: 30px;
	text-align: center;
	position: absolute;
	top: 150px;
	left: 175px;
	z-index: 10000;
	visibility: hidden;
	opacity: 0;
	filter: alpha(opacity=0);
	box-shadow: 0 0 4px 0 #AAAAAA;

	-webkit-transition: opacity .2s ease-out;
	-moz-transition: opacity .2s ease-out;
	transition: opacity .2s ease-out;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.infobox.error {
	opacity: .9;
	filter: alpha(opacity=90);
	visibility: visible;
}

/* custom popup fonts */
.leaflet-popup-content {
	font: 12px Arial, sans-serif !important;
}